<!DOCTYPE html>
<html>
<head>
  <title>Shop Timão | Loja Oficial do Corinthians</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <header>
    <nav class="navbar">
      <ul>
        <li><a href="http://localhost:3000/index">Inicio</a></li>
        <li><a href="http://localhost:3000/produtos">Produtos</a></li>
        <li><a href="http://localhost:3000/sobrenos">Sobre nós</a></li>
        <li><a href="http://localhost:3000/contato">Contato</a></li>
      </ul>
    </nav> 
  </header>

  <div class="produtos-em-destaque">
    <% for (let produto of produtos){ %>
      <div class="produto">
        <a href="produtos/<%= produto.id %>">
          <img src="https://static.shoptimao.com.br/produtos/camisa-corinthians-i-2324-sn-torcedor-nike-feminina/14/JD8-2746-014/JD8-2746-014_zoom1.jpg?ts=1681336541&ims=326x" alt="Camisa Corinthians I 23/24 s/n° Torcedor Nike Masculina - Branco">
          <p>Camisa Corinthians I 23/24 s/n° Torcedor Nike Masculina - Branco</p>
        </a>
      </div>
    <% } %>
  </div>

  <footer class="footer">
    <div class="footer-container">
      <div class="logo">
      </div>
    </div>
  </footer>

  <div class="footer-bottom">
    <p>&copy; 2023 Shop Timão. Todos os direitos reservados.</p>
  </div>
</body>
</html>
