<!DOCTYPE html>
<html>
<head>
  <title>Shop Timão | Loja Oficial do Corinthians</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
   
  </header>

  <h1>Produtos<header>
    <h1>Shop Timão | Loja Oficial do Corinthians</h1>
  </header>
  <div class="produtos-em-destaque">
    <div class="produto">
      <a href="produt2">
        <img src="https://static.shoptimao.com.br/produtos/camisa-corinthians-ii-2223-sn-torcedor-nike-masculina/26/2IC-7507-226/2IC-7507-226_zoom1.jpg?ts=1652226865&ims=326x" alt="Camisa Corinthians II 22/23 s/n° Torcedor Nike Masculina - Cinza+Branco">
        <p>views/index.ejs</p>
        <a>12, o ano dourado do Corinthians! Campeão da Libertadores e do Mundial, há 10 anos o Timão estava no topo da América e do mundo. Para celebrar a data, a Nike lança a nova Camisa Masculina do Corinthians inspirada nos mantos daquela temporada. O modelo reserva é semelhante a camisa II usada no passado, sendo predominantemente preta com detalhes do mapa de São Paulo estampados. O escudo bordado na altura do peito tem um efeito de banhado que remete ao ano de ouro do alvinegro. A Camisa do Corinthians é produzida com tecido leve, respirável e com tecnologia que auxilia na absorção do suor e te mantém seco e confortável durante o uso. Adquira hoje mesmo a sua Camisa Masculina Corinthians e ajude o Timão rumo a mais vitórias e títulos. Vai Corinthians!

            Nome: Camisa Corinthians II 22/23 s/n° Torcedor Nike Masculina
            Gênero: Masculino
            Indicado para: Dia a Dia
            Clube: Nacional
            Time: Corinthians SP
            Gola: Gola Careca
            Material: Poliéster
            Tipo: Torcedor
            Personalização: Permite Personalização
            Tecnologia: Dri-Fit
            Definição da Tecnologia: Tecido de desempenho que afasta o suor da pele para ajudá-lo a se manter seco e confortável
            Manga: Manga Curta
            Escudo: Bordado
            Composição: 100% Poliéster
            Garantia do Fabricante: Contra defeito de fabricação
            Origem: Estrangeira - Adquirida no mercado interno
            Marca: Nike</a>
    </a>
    </div>
  </div>
