<!DOCTYPE html>
<html>
<head>
  <title>Shop Timão | Loja Oficial do Corinthians</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    <h1>Shop Timão | Loja Oficial do Corinthians</h1>
  </header>

  <div class="produtos-em-destaque">
    <div class="produto">
      <a href="produto3">
        <img src="https://static.shoptimao.com.br/produtos/camiseta-corinthians-paulista-masculina/14/D65-5101-014/D65-5101-014_zoom1.jpg?ts=1648745621&ims=326x" alt="Camiseta Corinthians Paulista Masculina">
        <p>Camiseta Corinthians Paulista Masculina</p>
        <p>Celebre a história do Corinthians com a Camiseta Corinthians Paulista Masculina. Esta camiseta é uma homenagem ao clube e aos seus 40 anos de história. Feita com materiais de alta qualidade e com um design moderno, é perfeita para os torcedores que desejam mostrar seu apoio ao time.</p>
        <p><strong>Informações do Produto:</strong></p>
        <ul>
          <li>Nome: Camiseta Corinthians Paulista Masculina</li>
          <li>Gênero: Masculino</li>
          <li>Indicado para: Dia a Dia</li>
          <li>Clube: Nacional</li>
          <li>Time: Corinthians SP</li>
          <li>Gola: Gola Careca</li>
          <li>Material: Poliéster</li>
          <li>Tipo: Torcedor</li>
          <li>Personalização: Permite Personalização</li>
          <li>Tecnologia: Dri-Fit</li>
          <li>Definição da Tecnologia: Tecido de desempenho que afasta o suor da pele para ajudá-lo a se manter seco e confortável.</li>
          <li>Manga: Manga Curta</li>
          <li>Patrocínio: Sem patrocínio</li>
          <li>Número: Sem número</li>
          <li>Garantia do Fabricante: Contra Defeito de Fabricação</li>
          <li>Origem: Nacional</li>
          <li>Marca: Nike</li>
        </ul>
        <a href="#">CONTINUE COMPRANDO</a>
      </a>
    </div>
  </div>
</body>
</html>
