<!DOCTYPE html>
<html>
<head>
  <title>Shop Timão | Loja Oficial do Corinthians</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    <h1>Shop Timão | Loja Oficial do Corinthians</h1>
  </header>

  <div class="produtos-em-destaque">
    <div class="produto">
      <a href="produto2">
        <img src="https://static.shoptimao.com.br/produtos/camisa-corinthians-ii-2223-sn-torcedor-nike-masculina/26/2IC-7507-226/2IC-7507-226_zoom1.jpg?ts=1652226865&ims=326x" alt="Camisa Corinthians II 22/23 s/n° Torcedor Nike Masculina - Cinza+Branco">
        <p>Camisa Corinthians II 22/23 s/n° Torcedor Nike Masculina - Cinza+Branco</p>
        <p>Celebre os 12 anos dourados do Corinthians! Campeão da Libertadores e do Mundial, há uma década o Timão estava no topo da América e do mundo. Para celebrar a data, a Nike lança a nova Camisa Masculina do Corinthians inspirada nos mantos daquela temporada. O modelo reserva é semelhante à camisa II usada no passado, predominantemente preta com detalhes do mapa de São Paulo estampados. O escudo bordado na altura do peito tem um efeito de banhado que remete ao ano de ouro do alvinegro. A Camisa do Corinthians é produzida com tecido leve, respirável e com tecnologia que auxilia na absorção do suor, mantendo você seco e confortável durante o uso. Adquira hoje mesmo a sua Camisa Masculina Corinthians e ajude o Timão rumo a mais vitórias e títulos. Vai Corinthians!</p>
        <p><strong>Informações do Produto:</strong></p>
        <ul>
          <li>Nome: Camisa Corinthians II 22/23 s/n° Torcedor Nike Masculina</li>
          <li>Gênero: Masculino</li>
          <li>Indicado para: Dia a Dia</li>
          <li>Clube: Nacional</li>
          <li>Time: Corinthians SP</li>
          <li>Gola: Gola Careca</li>
          <li>Material: Poliéster</li>
          <li>Tipo: Torcedor</li>
          <li>Personalização: Permite Personalização</li>
          <li>Tecnologia: Dri-Fit</li>
          <li>Definição da Tecnologia: Tecido de desempenho que afasta o suor da pele para ajudá-lo a se manter seco e confortável</li>
          <li>Manga: Manga Curta</li>
          <li>Escudo: Bordado</li>
          <li>Composição: 100% Poliéster</li>
          <li>Garantia do Fabricante: Contra defeito de fabricação</li>
          <li>Origem: Estrangeira - Adquirida no mercado interno</li>
          <li>Marca: Nike</li>
        </ul>
        <a href="#">CONTINUE COMPRANDO</a>
      </a>
    </div>
  </div>
</body>
</html>
