<!DOCTYPE html>
<html>
<head>
  <title>Shop Timão | Loja Oficial do Corinthians</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    <nav class="navbar">
      <nav class="navbar">
        <ul>
          <li><a href="http://localhost:3000/inicio">Início</a></li>
          <li><a href="http://localhost:3000/produtos">Produtos</a></li>
          <li><a href="http://localhost:3000/sobrenos">Sobre nós</a></li>
          <li><a href="http://localhost:3000/contato">Contato</a></li>
        </ul>
      </nav> 
  </header>

  <div class="produtos-em-destaque">
    <div class="produto">
      <a href="produto1">
        <img src="https://static.shoptimao.com.br/produtos/camisa-corinthians-i-2324-sn-torcedor-nike-feminina/14/JD8-2746-014/JD8-2746-014_zoom1.jpg?ts=1681336541&ims=326x" alt="Camisa Corinthians I 23/24 s/n° Torcedor Nike Masculina - Branco">
        <p>Camisa Corinthians I 23/24 s/n° Torcedor Nike Masculina - Branco</p>
        <p>
          Celebre os 40 anos de um movimento que ajudou a moldar a trajetória política do Brasil com a Camisa Corinthians I 23/24 s/n° Torcedor Nike Masculina! Encabeçado por jogadores como Wladimir, Sócrates e Casagrande, a Democracia Corinthiana deu voz de escolha para todos do clube, desde roupeiro, jogadores, comissão técnica e diretoria. Isso em um país onde havia um duro regime ditatorial. Inspirada no uniforme de 83, essa camisa do Corinthians masculina eterniza um dos maiores momentos do clube e relembra que a luta pela democracia é essencial e constante. Faça parte da história e compre já a sua!
        </p>
        <p><strong>Informações do Produto:</strong></p>
        <ul>
          <li>Nome: Camisa Corinthians I 23/24 s/n° Torcedor Nike Masculina</li>
          <li>Gênero: Masculino</li>
          <li>Indicado para: Dia a Dia</li>
          <li>Clube: Nacional</li>
          <li>Time: Corinthians SP</li>
          <li>Gola: Gola Careca</li>
          <li>Material: Poliéster</li>
          <li>Tipo: Torcedor</li>
          <li>Personalização: Permite Personalização</li>
          <li>Tecnologia: Dri-Fit</li>
          <li>Definição da Tecnologia: Tecido de desempenho que afasta o suor da pele para ajudá-lo a se manter seco e confortável.</li>
          <li>Manga: Manga Curta</li>
          <li>Patrocínio: Sem patrocínio</li>
          <li>Número: Sem número</li>
          <li>Garantia do Fabricante: Contra Defeito de Fabricação</li>
          <li>Origem: Nacional</li>
          <li>Marca: Nike</li>
        </ul>
        <a href="#">CONTINUE COMPRANDO</a>
      </a>
    </div>
  </div>
</body>
</html>
