<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop Timão | Todos os Produtos</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    <h1>Shop Timão | Todos os Produtos</h1>
  </header>

  <div class="produtos-container">
    <div class="produtos">
      <img src="https://static.shoptimao.com.br/produtos/camisa-corinthians-iii-2324-sn-torcedor-nike-feminina/20/JD8-3962-120/JD8-3962-120_zoom1.jpg?ts=1695214418&ims=544x" alt="Produto 1">
      <p>Camisa Corinthians III 23/24 s/n° Torcedor Nike Feminina - Preto+Dourado</p>
      <span class="preco">R$ 299,99</span>
    </div>
    
    <div class="produtos-container">
      <div class="produtos">
        <img src="https://static.shoptimao.com.br/produtos/camisa-corinthians-iii-2324-sn-torcedor-nike-masculina/20/JD8-3972-120/JD8-3972-120_zoom1.jpg?ts=1695214456&ims=544x" alt="Produto 2">
        <p>Camisa Corinthians III 23/24 s/n° Torcedor Nike Masculina - Preto+Dourado</p>
        <span class="preco">R$ 299,99</span>
      </div>
    
      <div class="produtos-container">
        <div class="produtos">
        <img src="https://static.shoptimao.com.br/produtos/camisa-corinthians-ii-2021-sn-torcedor-nike-masculina/26/HZM-3758-026/HZM-3758-026_zoom1.jpg?ts=1595357281&ims=544x" alt="Produto 3">
        <p>Camisa Corinthians II 20/21 s/n° Torcedor Nike Masculina - Preto+Branco</p>
        <span class="preco">R$ 109,99</span>
      </div>
    
      <div class="produtos-container">
        <div class="produtos">
        <img src="https://static.shoptimao.com.br/produtos/camisa-corinthians-ii-2223-sn-torcedor-nike-masculina/26/2IC-7507-226/2IC-7507-226_zoom1.jpg?ts=1652226865&ims=544x" alt="Produto 4">
        <p>Camisa Corinthians II 22/23 s/n° Torcedor Nike Masculina - Cinza+Branco</p>
        <span class="preco">R$ 151,99</span>
      </div>
    
      <div class="produtos-container">
        <div class="produtos">
        <img src="https://static.shoptimao.com.br/produtos/camisa-corinthians-i-2324-sn-torcedor-nike-masculina/14/JD8-2748-014/JD8-2748-014_zoom1.jpg?ts=1685141798&ims=544x" alt="Produto 5">
        <p>Camisa Corinthians I 23/24 s/n° Torcedor Nike Masculina - Branco</p>
        <span class="preco">R$ 299,99</span>
      </div>
    
      <div class="produtos-container">
        <div class="produtos">
        <img src="https://static.shoptimao.com.br/produtos/camisa-corinthians-i-2021-sn-torcedor-nike-masculina/28/HZM-3751-028/HZM-3751-028_zoom1.jpg?ts=1596123739&ims=544x" alt="Produto 6">
        <p>Camisa Corinthians I 23/24 s/n° Torcedor Nike Masculina - Branco</p>
        <span class="preco">R$ 299,99</span>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer-info">
      <p>Endereço: Av.Rio Brilhante, 779</p>
      <p>Telefone: (67) 99867-9483</p>
      <p>Email: contato@shoptimao.com</p>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2023 Shop Timão. Todos os direitos reservados.</p>
    </div>
  </footer>
</body>
</html>