<!DOCTYPE html>
<html>
<head>
  <title>Shop Timão | Loja Oficial do Corinthians</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
   
  </header>

  <h1>Produtos<header>
    <h1>Shop Timão | Loja Oficial do Corinthians</h1>
  </header>
  <div class="Todos-os-produtos">
    <div class="Tprodutos">
        <a href="http://localhost:3000/Tprodutos4"></a>
        <img href="http://localhost:3000/Tprodutos4" src="https://static.shoptimao.com.br/produtos/camisa-corinthians-ii-2223-sn-torcedor-nike-masculina/26/2IC-7507-226/2IC-7507-226_zoom1.jpg?ts=1652226865&ims=544x">
        <p>Camisa Corinthians III 23/24 s/n° Torcedor Nike Feminina - Preto+Dourado!</p>
<P>
            Nome: Camisa Corinthians III 23/24 s/n° Torcedor Nike Feminina
            Gênero: Feminino
            Indicado para: Dia a Dia
            Clube: Nacional
            Time: Corinthians SP
            Gola: Gola Careca
            Material: Poliéster
            Tipo: Torcedor
            Personalização: Permite Personalização
            Tecnologia: Dri-Fit
            Definição da Tecnologia: Tecido de desempenho que afasta o suor da pele para ajudá-lo a se manter seco e confortável.
            Manga: Manga Curta
            Escudo: Bordado
            Patrocínio: Sem patrocínio
            Número: Sem número
            Garantia do Fabricante: Contra Defeito de Fabricação
            Origem: Nacional
            Marca: Nike</P>
    </div>
  </div>
